body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
div.overlay {
    background-color: rgba(80, 92, 112, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
}
div.main {
    margin: auto;
    margin-top: 14%;
    text-align: center;
}
.links {
    margin-left: 45%;
    padding-top: 30px;
}
h1 {
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 50px;
}
p {
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 20px;
}
#sidenote {
    border-radius: 15px;
    background: rgba(21, 22, 22, 0.6);
    position: fixed;
    bottom: 5px;
    left: 10px;
    height: 40px;
    width: 270px;
}
#sidenote p{
    font-size: 10px;
    position: fixed;
    bottom: 10px;
    left: 20px;
}
